# FIFA Rankings - Default Dataset Analysis

In [1]:
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
main_df = pd.read_csv("fifa_ranking-2022-12-22.csv")

In [3]:
main_df.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,74,Madagascar,MAD,18.0,0.0,0,CAF,1992-12-31
1,52,Qatar,QAT,27.0,0.0,0,AFC,1992-12-31
2,51,Senegal,SEN,27.0,0.0,0,CAF,1992-12-31
3,50,El Salvador,SLV,28.0,0.0,0,CONCACAF,1992-12-31
4,49,Korea Republic,KOR,28.0,0.0,0,AFC,1992-12-31

In [4]:
main_df[main_df['country_abrv'] == 'VIE']

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
242,132,Vietnam,VIE,5.00,0.00,0,AFC,1993-08-08
374,133,Vietnam,VIE,5.00,5.00,1,AFC,1993-09-23
507,133,Vietnam,VIE,5.00,5.00,0,AFC,1993-10-22
679,131,Vietnam,VIE,5.00,5.00,-2,AFC,1993-11-19
829,135,Vietnam,VIE,5.00,5.00,4,AFC,1993-12-23
...,...,...,...,...,...,...,...,...
63110,96,Vietnam,VIE,1215.38,1218.55,-2,AFC,2022-03-31
63313,97,Vietnam,VIE,1218.84,1215.38,1,AFC,2022-06-23
63527,97,Vietnam,VIE,1218.84,1218.84,0,AFC,2022-08-25
63741,96,Vietnam,VIE,1226.65,1218.84,-1,AFC,2022-10-06
63949,96,Vietnam,VIE,1228.63,1226.65,0,AFC,2022-12-22

In [10]:
afc_df = main_df[main_df['confederation'] == 'AFC'][main_df['rank_date'] == '2022-12-22'].sort_values(by=['total_points'], ascending=False).reset_index().drop(['index'], axis=1)
afc_df

C:\Users\Tran Minh Khoi\AppData\Local\Temp\ipykernel_14800\3203691804.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  afc_df = main_df[main_df['confederation'] == 'AFC'][main_df['rank_date'] == '2022-12-22'].sort_values(by=['total_points'], ascending=False).reset_index().drop(['index'], axis=1)

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,20,Japan,JPN,1593.08,1559.54,-4,AFC,2022-12-22
1,24,IR Iran,IRN,1551.73,1564.61,4,AFC,2022-12-22
2,25,Korea Republic,KOR,1539.49,1530.30,-3,AFC,2022-12-22
3,27,Australia,AUS,1533.97,1488.72,-11,AFC,2022-12-22
4,49,Saudi Arabia,KSA,1438.13,1437.78,-2,AFC,2022-12-22
5,60,Qatar,QAT,1393.56,1439.89,10,AFC,2022-12-22
6,68,Iraq,IRQ,1342.39,1343.01,0,AFC,2022-12-22
7,70,United Arab Emirates,UAE,1338.48,1337.57,0,AFC,2022-12-22
8,75,Oman,OMA,1321.24,1320.29,0,AFC,2022-12-22
9,77,Uzbekistan,UZB,1312.64,1309.98,0,AFC,2022-12-22
10,80,China PR,CHN,1305.06,1305.06,1,AFC,2022-12-22
11,84,Jordan,JOR,1289.99,1289.99,0,AFC,2022-12-22
12,85,Bahrain,BHR,1280.27,1280.64,0,AFC,2022-12-22
13,90,Syria,SYR,1251.46,1255.92,0,AFC,2022-12-22
14,93,Palestine,PLE,1233.72,1233.72,-1,AFC,2022-12-22
15,94,Kyrgyz Republic,KGZ,1232.91,1230.22,-1,AFC,2022-12-22
16,96,Vietnam,VIE,1228.63,1226.65,0,AFC,2022-12-22
17,100,Lebanon,LBN,1208.47,1211.71,1,AFC,2022-12-22
18,106,India,IND,1192.09,1192.09,0,AFC,2022-12-22
19,108,Tajikistan,TJK,1187.02,1185.70,0,AFC,2022-12-22
20,111,Thailand,THA,1173.40,1174.92,0,AFC,2022-12-22
21,112,Korea DPR,PRK,1169.96,1169.96,0,AFC,2022-12-22
22,134,Philippines,PHI,1113.15,1115.13,1,AFC,2022-12-22
23,135,Turkmenistan,TKM,1100.47,1100.47,0,AFC,2022-12-22
24,145,Malaysia,MAS,1066.60,1062.32,-1,AFC,2022-12-22
25,146,Hong Kong,HKG,1062.39,1062.39,1,AFC,2022-12-22
26,148,Kuwait,KUW,1056.64,1053.41,-1,AFC,2022-12-22
27,151,Indonesia,IDN,1033.90,1033.90,-1,AFC,2022-12-22
28,154,Yemen,YEM,1023.52,1023.52,-1,AFC,2022-12-22
29,155,Afghanistan,AFG,1023.04,1023.04,-1,AFC,2022-12-22
30,156,Maldives,MDV,1021.18,1026.09,2,AFC,2022-12-22
31,157,Chinese Taipei,TPE,1021.02,1017.78,0,AFC,2022-12-22
32,159,Myanmar,MYA,1006.16,1007.89,1,AFC,2022-12-22
33,160,Singapore,SGP,1006.10,1003.50,0,AFC,2022-12-22
34,175,Nepal,NEP,956.94,954.86,0,AFC,2022-12-22
35,177,Cambodia,CAM,946.66,948.62,0,AFC,2022-12-22
36,182,Macau,MAC,922.10,922.10,0,AFC,2022-12-22
37,183,Mongolia,MNG,913.55,913.55,0,AFC,2022-12-22
38,185,Bhutan,BHU,910.96,910.96,0,AFC,2022-12-22
39,187,Laos,LAO,905.51,905.51,0,AFC,2022-12-22
40,190,Brunei Darussalam,BRU,898.02,898.41,0,AFC,2022-12-22
41,192,Bangladesh,BAN,884.45,884.45,0,AFC,2022-12-22
42,195,Pakistan,PAK,864.72,866.81,1,AFC,2022-12-22
43,197,Timor-Leste,TLS,860.45,860.06,-1,AFC,2022-12-22
44,205,Guam,GUM,838.33,838.33,0,AFC,2022-12-22
45,207,Sri Lanka,SRI,825.25,825.25,0,AFC,2022-12-22

In [13]:
afc_df.to_json(
  'sample_afc.json',
  orient='table',
  index=False,
  indent=2
)